<br>Hi {{firstname}},<br>
<br>
Your friend {{leadername}} just invited you to build a home with them, seriously. Not for themselves, we both know they don't quite have those skills. But for a family in need with one of their favorite charities, New Story.<br><br>They need 5 people to join with them to donate $50 or $25 or $10 a month for 12 months. (5 people x $100 x 12months = $6000 = A HOME) <br><br>It's that simple for you all to build an entire HOME for a family in huge need.<br><br>Would you like to join {{firstname}}?<br><br>Thanks, {{firstname}}
<br>
To join your team, please click the link below:
<br>
<a>{{link}}</a>